.updateUser_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form >input{
   width: 20vmax;
   margin: 1vmax;
   padding: 1vmax 2vmax;
}