.products_Main_Container .products_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmax;
    padding: 0 3vmax;
}


.filters{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 6vmax 8vmax;

}

.filters >div{
    width: 15%;
}

.pagination_div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10vmax 0;
}



.resetItem{
    color: red;
}
