.forgotPassword_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    border: 1px solid red;
}


.forgotPassword_Container >form >input{
    padding: 1vmax 2vmax;

}

.forgotPassword_Container >form >button{
    padding: 1vmax 2vmax;
    margin-left: 1vmax;
    border: none;
    outline: none;
    border-radius: 5px;
    
}